{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

    <section id="delete-page" class="auth">
        <form method="post" action="{% url 'assignment mathematics delete' pk=assignmentmathematics.pk %}">
            <div class="container">

                <h1>Are you sure you want to delete your assignment: "{{ assignmentmathematics.assignment_name }}"?</h1>
                    {{ form }}
                    <input class="btn" type="submit" value="Confirm">
                {% csrf_token %}
            </div>
        </form>
    </section>


</html>
{% endblock %}
