{% load static %}
{% include 'common/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static '/css/style.css'%}">
    <title>Assignment Details</title>
</head>

<body>
<div id="box">
    <section id="car-details">
        <h1>Assignment Details</h1>
        <div class="info-section">
            <div class="profilePage">
                <img src="{{ assignmentcooking.dish_image}}"
                     alt="Image of {{ assignmentcooking.recipe_name }}">
            </div>
            <div class="car-header">
                <h1>{{ assignmentcooking.assignment_name}}</h1>
                <!-- car model -->
                <p><span class="description">School Subject: {{ assignmentcooking.school_subject}}</span></p>
                <!-- car year -->
                <p><span class="description">Name of Recipe: {{ assignmentcooking.recipe_name }}</span></p>
                <!-- car price -->
                <p><span class="description">Ingredients: {{ assignmentcooking.ingredients }}</span></p>
                <!-- car model -->
                <p><span class="description">Preparation time: {{ assignmentcooking.preparation_time}}</span></p>
                <p><span class="description">Created by student: {{ assignmentcooking.created_by}}</span></p>
            </div>


            <div class="buttons">
                {% if request.user == assignmentcooking.created_by  %}
                <a href="{% url 'assignment cooking edit' pk=assignmentcooking.pk %}" class="edit-button">Edit</a>
                <a href="{% url 'assignment cooking delete' pk=assignmentcooking.pk %}" class="delete-button">Delete</a>
                {% endif %}
            </div>
        </div>
    </section>
{% csrf_token %}
</div>
</body>
</html>