{% load static %}
{% include 'common/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Create Music Assignment</title>
</head>

<body>
<div id="box">

    <section id="create-page" class="auth">
        <form method="post" action="{% url 'assignment music create' %}" enctype="multipart/form-data">
            <div class="container">
                {{ form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="Submit assignment">
            </div>
        </form>
    </section>
</div>
</body>
</html>

