{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

<body>
<div id="box">

    <header>
       

    <section id="create-page" class="auth">
        <form method="post" action="{% url 'assignment mathematics create' %}">
            <div style="color: #551A8B" class="container">
                {{ form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="Submit assignment">
            </div>
        </form>
    </section>
</div>
</body>
{% endblock %}

