{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

<body>
<div id="box">

    <section id="create-page" class="auth">
        <form method="post" action="{% url 'assignment cooking edit' pk=assignmentcooking.pk %}" enctype="multipart/form-data">
            <div style="color: #551A8B" class="container">
                <h1>Edit {{ assignmentcooking.assignment_name }} Assignment</h1>
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Edit Assignment">
            </div>
        </form>
    </section>
</div>
</body>

{% endblock %}
