{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

    <section id="delete-page" class="auth">
        <form method="post" action="{% url 'assignment english delete' pk=assignmentenglish.pk %}">
            <div class="container">
                <h1>Are you sure you want to delete your assignment: "{{ assignmentenglish.assignment_name }}"?</h1>
                {{ form }}
                <input class="btn" type="submit" value="Confirm">
                {% csrf_token %}
            </div>
        </form>
    </section>

{% endblock %}