{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}
    <body>


    {% if object_list %}

        <section id="catalogue">
        <h1 style="color:white;text-align: center">List of Assignments in Mathematics</h1>

        {% for assignment in assignmentmathematics_list %}

            <div class="info-section">

            <div class="car-header">

                <h1>{{ assignment.assignment_name }} </h1>
                <div class="buttons">
                    <a href="{% url 'assignment mathematics details' pk=assignment.pk %}"
                       class="delete-button">Details</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="no-articles">No assignments available</p>
    {% endif %}

    </section>
    {% if assignmentmathematics_count > 3 %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% else %}
            <a disabled="disabled">&laquo; first</a>
            <a disabled="disabled">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% endif %}
    </body>
{% endblock %}