{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

    <section>


        <body>

        <div id="box">
            {#Search field#}
            <header style="padding: 0px">
                <section id="create-page" class="auth">
                    <form method="get" action="{% url 'books list' %}">
                        <div class="container" style="margin-bottom: -30px; margin-top: -30px">
                            <input style="height: 30px" name="pattern" placeholder="Search a book by title.."/>
                            <input class="btn" type="submit" value="Search">
                        </div>
                    </form>
                </section>
            </header>
            {#List of books#}

            {% if object_list %}


                {% for b in object_list %}
                    <div class="info-section">

                    <div style="font-size: 23px" class="car-header">
                        {% if b.cover_image %}
                            <div class="image-wrap">
                                <img style="float:right" width="150" height="250" src="{{ b.cover_image }}"
                                     alt=" image of {{ b.name }}">
                            </div>
                        {% endif %}
                        <h1>Name: {{ b.name }}</h1>
                        <h1>Author: {{ b.author }}</h1>
                        {% if b.description %}
                            <h1>Description: {{ b.description }} </h1>
                        {% endif %}
                        <h1>School subject: {{ b.school_subject }}</h1>
                        {% if b.number_of_pages %}
                            <h1>Number of pages: {{ b.number_of_pages }}</h1>
                        {% endif %}
                        <h1>Available from: {{ b.available_from }}</h1>
                        {% if b.last_booked_by != None %}
                            <h1>Last booked by: {{ b.last_booked_by }}</h1>
                        {% endif %}

                        <div class="buttons">
                            <a href="{% url 'book enquiry' b.pk %}" class="edit-button">BOOK THIS BOOK FOR 5 DAYS</a>
                        </div>

                    </div>


                {% endfor %}

            {% else %}
                <p class="no-articles">No books available</p>
            {% endif %}

    </section>
    {% csrf_token %}

{% endblock %}