{% load static %}
{% include 'common/base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>BookCollection</title>

</head>

<section>


<body>

<div id="box">

<header>
<form method="get" action="{% url 'books list' %}">
     <div style="width: 30%" class="container">
        <input name="pattern" placeholder="Search a book by title.."/>
        <input class="btn" type="submit" value="Search">
     </div>
</form>
        <h2>
        {% if perms.book.add_book %}
 <div class="buttons">
                <a href="{% url 'book create' %}" class="edit-button">Add new book</a>
            </div>
        {% endif %}

            </h2>
    </header>


 {% if object_list %}


            {% for b in object_list %}
<div class="info-section">

            <div class="car-header">
            {% if b.cover_image %}
                    <div class="image-wrap">
                        <img src="{{ b.cover_image }}"
                             alt=" image of {{ b.name }}">
                    </div>
                {% endif %}
                <h1>Name: {{ b.name }}</h1>
                <h1>Author: {{ b.author }}</h1>
                <h1>Description: {{ b.description}} </h1>
                <h1>School subject: {{ b.school_subject }}</h1>
                <h1>Number of pages: {{ b.number_of_pages }}</h1>
                <h1>Available from: {{ b.available_from }}</h1>

            <a href="{% url 'book enquiry' b.pk %}">
                                    CLICK HERE TO BOOK THIS BOOK FOR 5 DAYS
                                </a>

            </div>
     {% endfor %}

            {% else %}
        <p class="no-articles">No books available</p>
            {% endif %}

        </section>
{% csrf_token %}
</div>
</body>
</html>