{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

    <body>
    <div id="box">

        <header>
            <section id="create-page" class="auth">
                <form method="post" action="{% url 'book create' %}">
                    <div class="container">
                        {{ form }}
                        {% csrf_token %}
                        <input class="btn" type="submit" value="Add new book">
                    </div>
                </form>
            </section>
        </header>
    </div>
    </body>
{% endblock %}

