{% load static %}
{% include 'common/base.html' %}

<!DOCTYPE html>
<html lang="en">


<body>
<div id="box">
<form action="{% url 'question create' %}" method="post">
    {{ form.as_p}}
    <input name="next" type="hidden" value="{{ next }}">
    <button>Submit Question</button>
    {% csrf_token %}
</form>

 {% if object_list %}

        <section id="catalogue">

            {% for question in object_list %}

            <div class="car-card">

                <h3>School Subject: {{ question.related_school_subject}}</h3>
                <h3>Question: {{ question.question }}</h3>
                <h1>Creation Date: {{ question.created_on}} </h1>
                <h3>Student: {{ question.student }}</h3>

            </div>
     {% endfor %}

            {% else %}
        <p class="no-articles">No questions available</p>
            {% endif %}

        </section>
{% csrf_token %}

</div>
</body>
</html>