{% extends 'common/base.html' %}
{% load static %}

{% block page_content %}

    <body>
    <div id="box">

        <section id="create-page" class="auth">
            <form method="post" action="{% url 'question edit' pk=question.pk %}">
                <div class="container">
                    <h1>Edit "{{ question.question }}" </h1>
                    {{ form }}
                    <input class="btn submit" type="submit" value="Edit Assignment">
                    {% csrf_token %}
                </div>
            </form>
        </section>
    </div>
    </body>

{% endblock %}
