{% load static %}
{% include 'common/base.html' %}

<!DOCTYPE html>
<html lang="en">


<body>

<section id="create-page" class="auth">
<form method="get" action="{% url 'questions all' %}">
     <div class="container">
        <input name="pattern" placeholder="Search a question by question name..."/>
        <input class="btn" type="submit" value="Submit question">
     </div>
</form>
</section>


<section id="create-page" class="auth">
        <form method="post" action="{% url 'question create' %}">
            <div class="container">
                {{ question_form }}
                {% csrf_token %}
                <input class="btn" type="submit" value="Submit Question">
            </div>
        </form>
</section>


 {% if object_list %}

        <section id="catalogue">

     {% for question in object_list %}

            <div class="info-section">

            <div class="car-header">
                <h1>Question: {{ question.question }}</h1>
                <h3>School Subject: {{ question.related_school_subject}}</h3>
                <h3>Student: {{ question.student }}</h3>
                <h3>Creation Date: {{ question.created_on}} </h3>

            </div>


          <!-- Start Comments Section -->
                        {% for answer in question.answer_set.all %}
                            <div class="comments">
                                <div class="top">
                                    <div class="userDetails">
                                        <div class="comment-data">

                                            <p>
                                                Answer:{{ answer.comment_text }}
                                              <p>

                                            Replied by student with ID:{{ answer.user.personal_number }} </p>
                                            </p>
                                        </div>
                                        <span>{{ answer.created_on }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- End Comments Section -->

                        <!-- Start Add Comments Section -->
                        <div class="addComments">
                            <div class="reaction">
                                <h3>
                                    <i class="far fa-smile"></i>
                                </h3>
                            </div>
                            <!-- Start Add Comments Form -->
                            <form method="post" action="{% url 'answer' question_id=question.pk %}">
                                {{ answerform }}
                                {% csrf_token %}
                                <button type="submit">Sumit Answer</button>
                            </form>
                            <!-- End Add Comments Form -->

                        </div>



     {% endfor %}

            {% else %}
        <p class="no-articles">No questions available</p>
            {% endif %}

        </section>


{% if object_list %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% else %}
            <a disabled="disabled">&laquo; first</a>
            <a disabled="disabled">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% csrf_token %}

</div>
</body>
</html>