/* CSS Document */

.jqTable {
	font-size:10px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form {
	margin-top:	30px;
}
.form-box {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #555555;
	padding:0px;
}

.form-box-popup {
  font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #555555;
	border:1px solid #DAD4D4;
	padding:0px;
}

.helpdiv {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	border:1px dotted #C8C8C8;
	background-color:#F6F6F6;
	padding:0px;
	width: 200px;
	position: absolute;
}

.box-title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	padding:0px;
}


.form-title-noborder{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
  height: 23px;
	font-weight: bold;
	color: #000000;
}

.form-title{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
  height: 23px;
	font-weight: bold;
	color: #000000;
	background-color:#FFFFFF;
  border:1px solid #7F9DB9;
}

.values-txt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	background-color: #E8DEE2 ;
	padding: 3px;
	text-align:left;
	border: 1px solid #C8BEC2;
}

input, select, radio {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border:1px solid #7F9DB9;
	background-color:#FFFFFF;
}

.select_no_width {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333333;
	border:1px solid #7F9DB9;
	background-color:#FFFFFF;
}

.input-form-date {
	width: 92px;
}

.input-form-w-icon {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	border:1px solid #7F9DB9;
	background-color:#FFFFFF;
	width: 130px;
}

.input-checkbox {
	color: #333333;
	width: 15px;
	border:0px ;
}

.form-rows-noborder {
	padding: 			4px;
        height: 20px;
}

.form-big-rows {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28pt;
	padding: 4px;
  border:1px solid #7F9DB9;
}

.form-rows {
	padding: 			4px;
        height: 20px;
        border:1px solid #7F9DB9;
}
.form-rows-alternate {
	padding: 			4px;
	background-color:	#FFFFFF;
}

.form-rows   td {

}

.form-rows-section  {
	padding:2px;
	border-top: 1px dotted #C8C8C8;
	background-color: #F6F4F5;
}

.form-led {
	border: 1px solid #045C7F;
	background-color: #045C7F;
}

.form-led-other {
	border: 1px solid #EFEFEF;
	background-color: #EFEFEF;
}

.form-label {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	height: 15px;
	font-weight: bold;
	color: #015B7E;
	
}

.label {
	font-family: 	Verdana, Arial, Helvetica, sans-serif;
	font-size: 	11px;
	height: 	15px;
	font-weight: 	bold;
	color: 		#000000;
}

.lab12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 15px;
	color: 	#000000;
}

.value {
	white-space:	nowrap;
	color: 		#000000;
}

.form-row-button {
	padding:3px;
	background-color: #E8E8E8;
}

a.buttons{
	background: #716E6F;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
}

.button-container {
		width:100%;
		text-align:center;
		padding:3px;
		margin: 2px;
}

a.buttons:hover {
	background: #8C959D;

}

.button-container  a.buttons {
	background: #035B7F;
	margin: 2px;
	padding: 2px;

}

.button-container  a.buttons:hover{
	background: #8C959D;
}

.buttons-disabled {
	background: #8F929B;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	border-top: 1px solid #CBCCD1;
	border-left: 1px solid #CBCCD1;
	border-bottom: 1px solid #494C51;
	border-right: 1px solid #494C51;
	margin: 1px;
	padding: 1px;
}

td.ordRow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	border:1px solid #7F9DB9;
	background-color:#FFFFFF;
}

td.ordRowNoBorder {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color:#FFFFFF;
}